<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8">
  
<!--  jquery dragable -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="./drag.js"></script>

 
<!-- boot strap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.css">
<link rel="stylesheet" type="text/css" href="./style.css">


<!-- Script on first load -->

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
   <script type="text/javascript" src= "./directives/maindir.js"></script>




<title> test</title>
</head>

<!-- Starting Body
 -->
<body >
<div ng-app="myApp">



<!-- Nv Bar on top -->
<div id="draggable1">
<nav class="navbar navbar-toggleable-md  navbar-light bg-faded" >
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span></button>
 
  <a class="navbar-brand" href="#/">Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#/puzle">Puzzle </a></li>
      <li class="nav-item">
        <a class="nav-link" ng-click = "addArticle()" href="#">Add Article</a> </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a></li> </ul>

      
       <md-input-container flex="20">
          <label>Choose theme</label>
          <md-select name="type" type='text' ng-model="color">
            <md-option value="dark-orange" selected>Orange</md-option>
            <md-option value="dark-grey">Grey</md-option>
           <md-option value="dark-purple">Purple</md-option> 
           <md-option value="dark-blue">Blue</md-option>
           
          </md-select>
        </md-input-container>
  </div>
</nav>

</div>
<!-- view container -->
<div class="container">
 <div ng-view></div>
  
</div>
</div>

<!-- <div class="row"  style=" padding: 0px;margin:  0px ; ">
	
 
	

<div class=" col-lg-6 " ng-repeat="user in users" style="padding: 0px;" >
   <md-card md-theme="{{theme}}" md-theme-watch class="md-whiteframe-14dp">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">[{{user.title}}] {{theme}} <p align="right">{{user.author}}</p></span>
          </md-card-title-text>
         
        </md-card-title>

             
          
          <md-card-content > <p class= 'card-content' style="word-wrap: break-word;"> {{user.body}} </p>
          </md-card-content>
        
        
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary md-raised" ng-click="showAdvanced(user._id)">update</md-button>
          <md-button class="md-warn md-raised" ng-click="deluser(user._id)">Delete</md-button>
        </md-card-actions>
        </md-card>
        </div> 



</div></div>
 -->





<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>-->
<script type="text/javascript" src="//code.angularjs.org/1.5.5/angular-route.min.js"></script>


 <script type="text/javascript" src= "./app.js"></script>

 <script type="text/javascript" src= "./controller/puzctrl.js"></script>
  <script type="text/javascript" src= "./controller/myctrl.js"></script>



       <!-- <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.5/angular-material.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>



   <script type="text/javascript" src = "./angular-ui-notification.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
 --><script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ></script>





</body>
</html>